{% extends "base.html" %}
{% load static %}
{% load cart_calc %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="cointainer m-3">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="home-font text-center mb-3 text-uppercase"><strong>Your Cart</strong></h2>
            <hr>
        </div>
    </div>

    <!-- Normal Version Cart -->
    <div class="row d-none d-lg-block">
        <div class="col">
            {% if cart_items %}
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 15%;" scope="col">Image</th>
                        <th style="width: 15%;" scope="col">SKU</th>
                        <th style="width: 25%;" scope="col">Name</th>
                        <th style="width: 15%;" scope="col">Quantity</th>
                        <th style="width: 15%;" scope="col">Price</th>
                        <th style="width: 15%;" scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <th class="p-3 w-25 col-2">
                            {% if item.product.image %}
                            <img class="product-cart-img" src="{{ item.product.image.url }}"
                                alt="{{ item.product.name }}">
                            {% else %}
                            <img class="product-cart-img" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ item.product.name }}">
                            {% endif %}
                        </th>
                        <td class="py-5"><strong>
                                <p>{{ item.product.sku|upper }}</p>
                            </strong></td>
                        <td class="py-5">{{ item.product.name }}</td>
                        <td class="py-5">
                            <div class="row">
                                <div class="col">
                                    <form class="form update-form" method="POST"
                                        action="{% url 'change_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm rounded-0"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.product.id }}" id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm rounded-0"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <a class="update-product text-info ms-3 mt-3"><small>Update</small></a>
                                            <a class="text-danger remove-product me-3 mt-3"
                                                id="remove_{{ item.item_id }}">
                                                <i class="mx-1 fa-fw far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </td>
                        <td class="py-5">${{ item.product.price }}</td>
                        <td class="py-5">${{ item.product.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h6>Cart Total: <strong>${{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery Charges: <strong>${{ delivery|floatformat:2 }}</strong></h6>
            <hr class="w-25">
            <h4>Grand Total: <strong>${{ grand_total|floatformat:2 }}</strong></h4>
            <div class="row mt-5">
                <a href="" class="btn rounded-0 btn-lg">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
                {% if free_delivery_in > 0 %}
                <p class="mb-1 text-danger text-center">
                    You could get free delivery by spending just
                    <strong>${{ free_delivery_in }}</strong> more!
                </p>
                {% endif %}
            </div>
            {% else %}
            <strong>
                <p class="my-3">Your cart is empty!</p>
            </strong>
            <a href="{% url 'products' %}" class="btn btn-lg btn-dark mt-3">
                <span>
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Go back and shop!</span>
            </a>
            {% endif %}
        </div>
    </div>

    <!-- Small Version Cart -->
    <div class="row d-sm-block d-lg-none mx-1">
        {% if cart_items %}
        {% for item in cart_items %}
        <span class="mb-2">{{ item.product.name|truncatechars:40 }}</span>
        <strong><span class="text-muted">SKU: {{ item.product.sku }}</span></strong>
        <div class="product-row row">
            <div class="product-line d-flex justify-content-between">
                {% if item.product.image %}
                <img class="product-mobile-img my-3" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                <img class="product-mobile-img my-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                {% endif %}
                <div class="price-container my-3"><span>${{ item.product.price }}</span></div>
                <form class="form update-form my-3" method="POST" action="{% url 'change_cart' item.item_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-sm rounded-0" data-item_id="{{ item.item_id }}"
                                    id="decrement-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-minus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.product.id }}"
                                id="id_qty_{{ item.product.id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-sm rounded-0" data-item_id="{{ item.item_id }}"
                                    id="increment-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-plus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a class="update-product text-info ms-3 mt-3"><small>Update</small></a>
                        <a class="text-danger remove-product me-3 mt-3" id="remove_{{ item.item_id }}">
                            <i class="mx-1 fa-fw far fa-trash-alt"></i>
                        </a>
                    </div>
                </form>
                <div class="subtotal-container my-3"><span>${{ item.product.price }}</span></div>
            </div>
        </div>
        <hr>
        {% endfor %}
        <h6><strong>Cart Total: ${{ total|floatformat:2 }}</strong></h6>
        <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
        <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
        {% if free_delivery_left > 0 %}
        <p class="mb-1 text-danger">
            You could get free delivery by spending just
            <strong>${{ free_delivery_left }}</strong> more!
        </p>
        {% endif %}
        <div class="row mt-5">
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="{% url 'checkout' %}" class="btn btn-hover-violet rounded-0 btn-lg">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
    {% else %}
    <p class="lead mb-5">There is nothing here yet.</p>
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Game On</span>
    </a>
    {% endif %}


</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })


    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}