html {
    height: 100%;
}

body {
    padding-top: 80px;
    background: url('/media/home-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
}

.dropdown-container{
    position: relative;
}


.fa-search,
.dropdown-item,
.text-color {
    color: violet !important;
}

.home-font {
    text-transform: uppercase;
}


.border-lime {
    border: 1px solid violet !important;
}

.shop-button-home {
    min-width: 260px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(255, 255, 255, 0.95);
	z-index: -1;
}

.img-size {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width:  14rem;
    height: 14rem;
    object-fit: cover;
    overflow: hidden;
}

.img-size-cart {
    float: left;
    width:  14rem;
    height: auto;
    object-fit: cover;
}

.img-size-detail {
    float: left;
    width:  30rem;
    height: auto;
    object-fit: cover;   
}


.bg-account{
    background-color: rgba(0, 0, 0, 0.8)
}

.header-container {
    padding-top: 1rem;
}

#search::placeholder {
    color: #aab7c4;
}

/* BUTTONS CSS  */

.btn-hover-index:hover,
.btn-hover-index:active,
.btn-hover-index:focus,
.shop-button-home,
.btn-lime,
#delivery-banner,
#topnav {
    color: violet !important;
    background-color: black !important;
}
    
.btn-hover-index{
    background: violet!important;
    color: black !important;
}

.btn-hover-violet {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-hover-violet:hover,
.btn-hover-violet:active,
.btn-hover-violet:focus {
    background: black;
    color: violet !important;
}

/* CART LINKS CSS */

.update-link,
.remove-link{
    cursor: pointer;
}

/* TOAST AND MESSAGE CSS */

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.img-size-toast {
    float: left;
    width:  5rem;
    height: 5rem;
    object-fit: cover;
    overflow: hidden;
}

/* remove the arrows inside the quantity selectors */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}


/* MEDIA QURIES */


@media (max-width: 991px) {
    
    body {
        padding-top: 320px;
    }
    
    #delivery-banner.home-font{
        font-size: 80%;
    }

    .dropdown-menu {
        background-color: black !important;
        position: absolute;
        top: 100%; 
        right: 0;
        margin-right: 35%;
      }

}

@media (min-width: 992px) {
    .dropdown-menu {
        background-color: black !important;
        position: absolute;
        top: 100%; 
        right: 0;
        margin-left: 180px;
      }
}