html {
    height: 100%;
}

body {
    margin-top: 50px;
    background: url('/media/home-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
}

header {
    margin: 0 !important;
    padding: 0 !important;
    
}

.shop-button-home,
.btn-lime,
#delivery-banner,
#topnav {
    color: lime !important;
    background-color: black !important;
}

.dropdown-container{
    position: relative;
}



.dropdown-item,
.text-lime {
    color: lime !important;
}

.bg-lime {
    background-color: lime;
}


.home-font {
    text-transform: uppercase;
}


.border-lime {
    border: 1px solid lime !important;
}

.shop-button-home {
    min-width: 260px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.img-size {
    float: left;
    width:  20rem;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
}

.img-size-detail {
    float: left;
    width:  30rem;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
}

.bg-account{
    background-color: rgba(0, 0, 0, 0.8)
}

.header-container {
    padding-top: 1rem;
}


@media (max-width: 991px) {
    
    body {
        padding-top: 320px;
    }
    
    #delivery-banner.home-font{
        font-size: 80%;
    }

    .dropdown-menu {
        background-color: black !important;
        position: absolute;
        top: 100%; 
        right: 0;
        margin-right: 35%;
      }

}

@media (min-width: 992px) {
    .dropdown-menu {
        background-color: black !important;
        position: absolute;
        top: 100%; 
        right: 0;
        margin-left: 180px;
      }
}