<div class="collapse navbar-collapse" id="main-nav">
    <header class="container-fluid">
        <div id="topnav" class="row pt-lg-2 d-lg-flex">
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center text-lg-left offset-lg-1">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="home-font text-color my-0"><strong>PC GEEKS</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-lime" type="text" name="search"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-lime border border-lime text-color " type="submit">
                                <span class="icon text-color">
                                    <i class="fas fa-search "></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-1 my-auto py-1 py-lg-0 ">
                <ul class="navbar-nav w-auto mx-auto">
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Products
                        </a>
                        <div class=" dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=cpu">Processors</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=ram">Ram</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=gpu">Graphics Cards</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=mb">Motherboards</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=psu">Power Supply Units</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=storage">Storage</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=cooling">Cooling</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=cases">Cases</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=monitor">Monitors</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=computers">Pre-builds And
                                Laptops</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-1 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-color" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Members
                            pages</a>
                        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownMenuLink">
                            {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="#">My Pages</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                            <a class="dropdown-item" href="#">My Orders</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                            <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-1 my-auto py-1 py-lg-0 text-center offset-lg-1">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0"></ul>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="{% url 'view_cart' %}">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-cart fa-lg btn-lime"></i></div>
                            <p class="my-0 btn-lime">
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                $0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
                </ul>
            </div>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col">
                <h5 class="home-font my-1">Free delivery on all orders over ${{ free_delivery_sum }}!</h5>
            </div>
        </div>
    </header>
</div>