{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h2 class="text-color form-container bg-account">Testimonials</h2>
{% for feedback in page_obj %}
<div class="card-body bg-account mb-2 testimonials-box">
    <div>
    {% if feedback.approved %}
        <p class="font-weight-bold text-color">Rating: {{ feedback.rating }}/5 <br>
            <span class=" text-muted font-weight-normal">Posted by: {{ feedback.name }}</span>
        </p>
        <hr>
        <h5 class="text-color">My expirience:</h5>
        {{ feedback.content }} 
        <hr>
        {% if feedback.image %}
            <div class="img-size float-left">
            <img class="card-img-top img-fluid" src="{{ feedback.image.url }}" alt="Testimonial Image.">
            </div>
        {% endif %}
    {% endif %}
    </div> 
</div>
{% endfor %}
<div class="pagination text-color form-container bg-account p-1 mb-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First </a>
            <a href="?page={{ page_obj.previous_page_number }}"> Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next  </a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> Last  &raquo;</a>
        {% endif %}
    </span>
</div>

{% if request.user.is_authenticated %}
<div class="container">
    <div class="row ">
        <div class="col-11 col-md-6 col-lg-7 my-auto text-color bg-account form-container">
            <h4 class="mb-1"> Let us know how you like us.</h4>
            <form action="{% url 'create_testimonial'  %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-hover-index rounded-0 text-uppercase mb-2">Leave feedback
                </button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}