{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h2 class="text-color">Testemonials</h2>
<div class="card-body bg-account">
    {% for feedback in page_obj %} 
    <div class="review" style="padding: 10px;">
        {% if feedback.approved %}
        <p class="font-weight-bold text-color">Rating: {{ feedback.rating }}/5 <br>
            <span class=" text-muted font-weight-normal">Posted by: {{ feedback.name }}</span>
        </p>
        <hr>
        <h5 class="text-color">My expirience:</h5>
        {{ feedback.content }} 
        <hr>
        {% endif %} 
    </div>
    {% endfor %}
</div>
<div class="pagination text-color">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First </a>
            <a href="?page={{ page_obj.previous_page_number }}"> Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next  </a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> Last  &raquo;</a>
        {% endif %}
    </span>
</div>


<div class="container h-100 banner-bg">
    <form action="{% url 'create_testimonial'  %}" method= "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-hover-violet rounded-0">send
        </button>
    </form>
</div>
{% endblock %}